<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">校园论坛</span>
                </button>
                <a class="navbar-brand" href="/">校园论坛</a>
            </div>
            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-left" action="/" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" name="search" placeholder="搜索文章">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.user != null}">
                        <a href="/publish">发布</a>
                    </li>
                    <li th:if="${session.user != null}">
                        <a href="/profile/replies">通知 <span class="badge" th:text="${session.unreadCount}"></span></a>
                    </li>
                    <li class="dropdown" th:if="${session.user != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span th:text="${session.user.name}"></span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile/questions">我的文章</a></li>
                            <li><a th:href="@{'/information/' + ${session.user.id}}">个人资料</a></li>
                            <li th:if="${session.user.role == 0 || session.user.role == 2}" role="separator" class="divider"></li>
                            <li th:if="${session.user.role == 0 || session.user.role == 2}">
                                <a href="/manage/users">用户管理</a>
                            </li>
                            <li th:if="${session.user.role == 0 || session.user.role == 2}">
                                <a href="/manage/questions">文章管理</a>
                            </li>
                            <li th:if="${session.user.role == 0}">
                                <a href="/manage/specialtyClass">专业班级管理</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">退出登录</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.user == null}">
                        <a href="/register">注册</a>
                    </li>
                    <li th:if="${session.user == null}">
                        <a href="/login">登录</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
